body {
  background: rgb(245, 244, 244);
  filter: drop-shadow(6px 3px 4px #f7f3f3);
}

.title {
  color: #181616a6;
}
.img-s {
  width: 25%;
}

.form input {
  background-color: rgba(255, 255, 255, 0);
  border-style: double;
  color: rgba(3, 3, 3, 0.959);
  outline-color: blue;
  filter: drop-shadow(10px 8px 6px #11111133);
}
